<% if any_answer?(question.id) %>
  <h2 id="padding-left">Answers</h2>
  <hr>
  <div id="answer-block">
    <% relevant_answers(question.id).each do |answer| %>
    <div id="answer">
	    * <%= answer.text %>
      </br><%= link_to "add a comment" %>
			<% if accepted?(question) %>
	  		<h3 class="pull-right">Accepted</h3>
			<% else %>
	  		<% if can? :accept, answer %>
	    		<div class="btn btn-success pull-right">
	      		<%= link_to "Accept", accept_question_answer_path(question, answer) %>
	    		</div>
	  		<% end %>
	 	  <% end %>	
    </div>	
   <% end %>
  </div>	
<% end %>
