<% if any_answer?(question.id) %>
	<h2 id="padding-left">Answers</h2>
	<hr>
	<div id="answer-block">
		<% relevant_answers(question.id).each do |answer| %>
			<div id="answer">
				* <%= answer.text %>
				<% if accept?(answer) %>
					<div class="btn btn-success pull-right">
						<%= link_to "Accept", controller: question, action: accept(question, answer.id) %>
					</div>
				<% end %>	
			</div>	
	 <% end %>
	</div>	
<% end %>
